@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {

}

h1 {

}

img {
	float: right;
}
a:link {
	color: #66CCFF;
	font-size: 200%;
}
a:hover {
	color: #660099;
	background-color: #FFCCFF;
	font-size: 200%;
}
a:visited {
	color: #CCOOOO;
	font-size: 200%;
}
.eslrTitle {
	font-weight: bold;
	color: red;
}